<div class="mainView">


    <div *ngIf="!creatingTheather && !modifiyingTheather&&!deletingMovie">
        <div class="title text"> Seleccione el tipo de procedimiento que quiere realizar</div>
        <div class="menuButtons ">

            <div class="actButton menuButton" (click)="creatingTheather=true">

                <div class="buttonContent"> 
                    <mat-icon class="icon" >add_circle_outline</mat-icon>
                    <div class="text" >Agregar sucursal nueva</div>
                </div>

            </div>

            <div class="actButton menuButton" (click)="modifiyingTheather=true">
                <mat-icon class="icon" >edit</mat-icon>

                <div class="text" > Modificar sucursal existente</div>
            </div>

            <div class="actButton menuButton" (click)="deletingMovie=true">
                <mat-icon class="icon" >remove_circle_outline</mat-icon>
                <div class="text" > Eliminar sucursal </div>
            </div>

        </div>
    </div>

    <!--Menu de creacion de sucursales-->
    <div *ngIf="creatingTheather">
        <div class="text" style="margin-bottom: 7px;">Registro de Sucursales</div>
        <div class="formX" >


            <div class="text subtitle">Nombre</div>
            <mat-form-field class="field">
                <input matInput required type="text" (input)="sucursal = $any( $event.target).value"   placeholder="Nombre de la sucursal" >
            </mat-form-field>

            <div class="text subtitle">Ubicación</div>
            <mat-form-field class="field">
                <input matInput required type="text" (input)="location = $any( $event.target).value"   placeholder="Ubicación de la sucursal" >
            </mat-form-field>


            <div class="text subtitle">Cantidad de salas</div>
            <mat-form-field class="field">
                <input type="number" class="form-control" matInput name="value" (input)="roomNumber =$any( $event.target).value">
            </mat-form-field>

        </div>
        <div class="buttonsContainer">
            <div class="actButton acceptButton">
                <div class="text" (click)="create()">Aceptar</div>
            </div>
            <div class="actButton cancelButton">
                <div class="text" (click)="close()">Cancelar</div>
            </div>
        </div>
    </div>



    <!--Menu de edición de sucursales-->
    <div *ngIf="modifiyingTheather">
        <div class="text" style="margin-bottom: 7px;">Modificación de Sucursales</div>
        <div class="formX" >
            <div class="text subtitle">Sucursal</div>
     
            <mat-form-field appearance="fill">
                <mat-label>Seleccionar sala</mat-label>
                <mat-select (selectionChange)="selectSucursal($event.value)">
                  <mat-option *ngFor="let theater of theaters"  value="{{theater.name}}">{{theater.name}}</mat-option>
                </mat-select>
            </mat-form-field>


            <div class="text subtitle">Ubicación</div>
            <mat-form-field class="field">
                <input matInput required type="text" [value]="location"  (input)="location = $any( $event.target).value" placeholder="Ubicación de la sucursal" >
            </mat-form-field>
        </div>

        <div class="buttonsContainer">
            <div class="actButton acceptButton">
                <div class="text" (click)="submitModify()">Aceptar</div>
            </div>
            <div class="actButton cancelButton">
                <div class="text" (click)="close()">Cancelar</div>
            </div>
        </div>
    </div>

    <!---Borrar-->
    <div *ngIf="deletingMovie">
        <div class="text" style="margin-bottom: 7px;">Eliminación de Sucursales</div>
        <div class="formX" >
            <div class="text subtitle">Sucursal</div>
     
            <mat-form-field appearance="fill">
                <mat-label>Seleccionar sala</mat-label>
                <mat-select (selectionChange)="selectSucursal($event.value)">
                  <mat-option *ngFor="let theater of theaters"  value="{{theater.name}}">{{theater.name}}</mat-option>
                </mat-select>
            </mat-form-field>


            <div class="text subtitle">Ubicación</div>
            <mat-form-field class="field">
                <input matInput required type="text" [value]="location"  (input)="location = $any( $event.target).value" placeholder="Ubicación de la sucursal" >
            </mat-form-field>
        </div>

        <div class="buttonsContainer">
            <div class="actButton acceptButton">
                <div class="text" (click)="submitDelete()">Aceptar</div>
            </div>
            <div class="actButton cancelButton">
                <div class="text" (click)="close()">Cancelar</div>
            </div>
        </div>
    </div>

</div>
