<div class="mainView">
    <div class="register-block">
        
          <h1 class="Register-Name">
            Registro CineTec
          </h1>
          <div class='register-form' [formGroup]="form">
                    <div class="formContainer">
                      <div class="field">
                          <div class="text" style="color: white; font-size: 16px;">Nombre</div>
                          <input class="fieldInput"   formControlName="Name" placeholder=""   />
                      </div>
                      <div class="field">
                          <div class="text" style="color: white; font-size: 16px;">Apellidos</div>
                          <input class="fieldInput"   formControlName="Last-name" placeholder=""   />
                      </div>
                      <div class="field">
                        <div class="text" style="color: white; font-size: 16px;">Constraseña</div>
                        <input class="fieldInput"   formControlName="Password" placeholder=""   />
                      </div>
                      <div class="field">
                        <div class="text" style="color: white; font-size: 16px;">Verifique su contraseña</div>
                        <input class="fieldInput"   formControlName="passwordConfirmation" placeholder=""   />
                      </div>
                    </div>
              <button  class="login-button">                        
                  <div class="text" style="color: white; font-size: 16px;" (click)="createClient()">Aceptar</div>
              </button>
              
          </div>
          
      </div>
  </div>