<div class="mainView">
    <div class="register-block">
          <div class="registerContent"> 
            <h1 class="Register-Name">
              Registro CineTec
            </h1>
            <div class='register-form' [formGroup]="form">
                      <div class="formContainer">

                        <div class="field">
                            <div class="text" style="color: white; font-size: 16px;">Nombre</div>
                            <input class="fieldInput"   formControlName="name" placeholder=""   />
                        </div>

                        <div class="field">
                            <div class="text" style="color: white; font-size: 16px;">Apellidos</div>
                            <input class="fieldInput"   formControlName="lastName" placeholder=""   />
                        </div>

                        <div class="field">
                          <div class="text" style="color: white; font-size: 16px;">Nombre de Usuario</div>
                          <input class="fieldInput"   formControlName="userName" placeholder=""   />
                        </div>

                        <div class="field">
                          <div class="text" style="color: white; font-size: 16px;">Cédula</div>
                          <input class="fieldInput"   formControlName="userName" placeholder=""   />
                        </div>
                        
                        <mat-form-field class="field" appearance="fill" >
                          <mat-label>Fecha de nacimiento</mat-label>
                          <input matInput [matDatepicker]="picker">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <div class="field">
                          <div class="text" style="color: white; font-size: 16px;">Contraseña</div>
                            <input class="fieldInput"   formControlName="Password" placeholder=""   />
                        </div>

                        <div class="field">
                          <div class="text" style="color: white; font-size: 16px;">Verifique su contraseña</div>
                            <input class="fieldInput"   formControlName="passwordConfirmation" placeholder=""   />
                        </div>

               
                      </div>
            


                <button  class="login-button" (click)="createClient()">                        
                    <div class="text" style="color: white; font-size: 16px;" >Aceptar</div>
                </button>
                
            </div>
          </div>
      </div>
  </div>