<div class="mainView">
    <img src="../../../../assets/adminLogo.svg" alt="" class="adminLogo">

    <div class="optionsContainer">

        <div class="optionButton" (click)="openClientManagment()">
            <div class="text titleTextOverride" >Registro de clientes</div>
            <div class="hLine" style="border-bottom: white solid 2px; "></div>
            <div class="text descriptionText" >Permite gestionar toda la información de los clientes donde se 
                almacenará su información personal inherente al funcionamiento del cine para un correcto
                servicio al cliente.</div>
        </div>

        <div class="optionButton" (click)="openEmployeeManagment()">
            <div class="text titleTextOverride" >Registro de empleados</div>
            <div class="hLine" style="border-bottom: white solid 2px; "></div>
            <div class="text descriptionText" >Permite gestionar toda la información de los empleados donde se 
                almacenará su información personal inherente al funcionamiento del cine para un correcto
                desempeño.</div>
        </div>
        
        <div class="optionButton" (click)="openCovid19Managment()">
            <div class="text titleTextOverride" >Restricciones Covid-19</div>
            <div class="hLine" style="border-bottom: white solid 2px; "></div>
            <div class="text descriptionText" >Aqui puedes controlar el aforo maximo para las salas
                </div>
        </div>

        <div class="optionButton" (click)="openMovieManagment()" >
            <div class="text titleTextOverride" >Registro de películas</div>
            <div class="hLine" style="border-bottom: white solid 2px; "></div>
            <div class="text descriptionText" >Permite gestionar toda la información de las películas donde se 
                almacenará el nombre original de la película, nombre, imagen, duración, protagonistas, 
                director, clasificación.</div>
        </div>

        <div class="optionButton" (click)="openProjectionManagment()">
            <div class="text titleTextOverride" >Asignacion de proyecciones</div>
            <div class="hLine" style="border-bottom: white solid 2px; "></div>
            <div class="text descriptionText" > Permite gestionar la lista de proyecciones de 
                las películas. Osea debe permitir asignar a una sala, en un momento específico a una 
                película
                </div>
        </div>


        <div class="optionButton" (click)="openRoomManagment()">
            <div class="text titleTextOverride" >Registro de Salas</div>
            <div class="hLine" style="border-bottom: white solid 2px; "></div>
            <div class="text descriptionText" > Permite gestionar toda la información de las salas de una sucursal.
                Deberá poder almacenar un identificador, nombre de la sucursal a la que pertenece, cantidad 
                de filas, columnas y/o espacios, capacidad.
                
                </div>
        </div>


        <div class="optionButton" (click)="openTheaterManagment()">
            <div class="text titleTextOverride" >Registro de sucursales</div>
            <div class="hLine" style="border-bottom: white solid 2px; "></div>
            <div class="text descriptionText" >Permite gestionar las sucursales registradas en CineTec</div>
        </div>

    </div>
</div>
