
<div *ngIf="!deletingUser && !modifiyingUser">
    <div class="title text"> Seleccione el tipo de procedimiento que quiere realizar</div>
    <div class="menuButtons ">

        <div class="actButton menuButton" (click)="modifiyingUser=true">
            <mat-icon class="icon" >edit</mat-icon>

            <div class="text" > Modificar usuario</div>
        </div>
        <div class="actButton menuButton" (click)="deletingUser=true">

            <div class="buttonContent"> 
                <mat-icon class="icon" >remove_circle_outline</mat-icon>
                <div class="text" >Borrar usuario</div>
            </div>

        </div>
    </div>
</div>

<!--Menu de edición de sucursales-->
<div *ngIf="modifiyingUser">
    <div class="text" style="margin-bottom: 7px;">Modificación de Usuarios</div>
    <div class="formX" >


        <mat-form-field appearance="fill">
            <mat-label>Seleccionar usuario</mat-label>
            <mat-select (selectionChange)="selectUser($event.value)">
                <mat-option *ngFor="let user of users"  [value]="user">{{user.Id_card}}</mat-option>
            </mat-select>
            </mat-form-field>

        <div *ngIf="Id_card!=''">

            <!---
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput [matDatepicker]="picker"  >
                <mat-label>Fecha de nacimiento</mat-label>

                <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker ng-model="Birthday"></mat-datepicker>
            </mat-form-field>
-->
            <mat-form-field class="field">
                <input matInput required type="text" [value]="Birthday"  (input)="Birthday = $any( $event.target).value" placeholder="Fecha de nacimiento" >
            </mat-form-field>
            <mat-form-field class="field">
                <input matInput required type="text" [value]="Phone_Num"  (input)="Phone_Num = $any( $event.target).value" placeholder="Número de teléfono" >
            </mat-form-field>

            <mat-form-field class="field">
                <input matInput required type="text" [value]="First_Name"  (input)="First_Name = $any( $event.target).value" placeholder="Primer nombre" >
            </mat-form-field>

            <mat-form-field class="field">
                <input matInput required type="text" [value]="Middle_Name"  (input)="Middle_Name = $any( $event.target).value" placeholder="Segundo nombre" >
            </mat-form-field>

            <mat-form-field class="field">
                <input matInput required type="text" [value]="Last_Name"  (input)="Middle_Name = $any( $event.target).value" placeholder="Primer apellido" >
            </mat-form-field>

            <mat-form-field class="field">
                <input matInput required type="text" [value]="Second_LastName"  (input)="Second_LastName = $any( $event.target).value" placeholder="Segundo apellido" >
            </mat-form-field>

            <mat-form-field class="field">
                <input matInput required type="text" [value]="Username"  (input)="Username = $any( $event.target).value" placeholder="Nombre de usuario" >
            </mat-form-field>

            <mat-form-field class="field">
                <input matInput required type="password" [value]="Password"  (input)="Password = $any( $event.target).value" placeholder="Contraseña" >
            </mat-form-field>
        </div>
    </div>


    <div class="buttonsContainer">
        <div class="actButton acceptButton">
            <div class="text" (click)="submitModify()">Aceptar</div>
        </div>
        <div class="actButton cancelButton">
            <div class="text" (click)="close()">Cancelar</div>
        </div>
    </div>
</div>

<div *ngIf="deletingUser">
    <div class="text" style="margin-bottom: 7px;">Modificación de Usuarios</div>
    <div class="formX" >


        <mat-form-field appearance="fill">
            <mat-label>Seleccionar usuario</mat-label>
            <mat-select (selectionChange)="selectUser($event.value)">
                <mat-option *ngFor="let user of users"  value="{{user.Id_card}}">{{user.Id_card}}</mat-option>
            </mat-select>
            </mat-form-field>

    </div>


    <div class="buttonsContainer">
        <div class="actButton acceptButton">
            <div class="text" (click)="deleteUser()">Eliminar usuario</div>
        </div>
        <div class="actButton cancelButton">
            <div class="text" (click)="close()">Cancelar</div>
        </div>
    </div>
</div>