<div class="mainView">
    <div class="title" style="color: white;">
        Cartelera
    </div>
    <div class="subTitle" style="color: white;">
        Estrenos
    </div>
    <div class="movieDisplay">
        
        <div class="selectMovie" *ngFor="let movie of movies">
            <div class="movieRectangle" style="background-color:#292929;" (click)="movieSelected(movie.name)">
                <div class="movieImage" >
                    <img class="imageSrc" src="{{movie.image}}" alt="">
                </div>
                <div class="hourText" style="color:white">
                    Horarios
                </div>
            </div>
        </div>
    </div>

    <div class="bottomTitle" style="color: white">
        CineTEC
    </div>


</div>
