<div class="mainView">
    <div class="viewContainer">
        <div class="text" style="color: white; font-size: 37px;">El semestre feliz</div>

        <div class="infoDisp">
            <div class="infoCard" style="width: 136px;">
                <div class="text" style="color: white; font-size: 15px;">Duración: 90 m
                </div>
            </div>
            <div class="infoCard" style="width: 176px;">
                <div class="text" style="color: white; font-size: 15px;">Director: Mark Sains
                </div>
            </div>
            <div class="infoCard" style="width: 136px;">
                <div class="text" style="color: white; font-size: 15px;">Puntuación: 1
                </div>
            </div>
        </div>

        <div class="proyectionsDisp">
            <div class="text" style="color: white; font-size: 37px;">Proyecciones</div>

            <div class="proyectionScroll">
                <div class="scrollButton" (click)="moveLeft()">
                    <mat-icon style="color: #333333;">arrow_back</mat-icon>
                </div>
                <div #panel class="itemScroll">
                    <div class="item item1">
                        <div class="itemContent">
                            <div class="text" style="color: #333333; font-size: 16px; width: 100%; position: absolute;">16:00</div>
                        </div>
                    </div>
        
                </div>
                <div class="scrollButton" (click)="moveRight()">
                    <mat-icon style="color: #333333;">arrow_forward</mat-icon>
                </div>
            </div>
        </div>

    </div>

    
</div>
