<div class="mainView">

    <div class="mainTitle" style="color:white">
        CineTEC
    </div>

    <div class="mainDivision">

        

        <div class="citiesList">

            <div class="questionText" style="color:white">
                ¿Cuál cine quieres visitar?
            </div>
            
            <div class="theaters" *ngFor="let city of cities">
                <img  class="cityIcon" src="../../../assets/CityIcon.svg" alt="">
                <div class="citiesName" style="color: white;">
                    {{city.name}}
                </div>
            </div>
        </div>

    </div>

</div>